.Card {
  display: grid;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
    352deg,
    rgba(24, 84, 28, 1) 50%,
    rgba(69, 156, 42, 0.8633332799692623) 60%,
    rgba(26, 89, 50, 1) 75%
  );
  color: #eee;
  justify-content: center;
  text-align: center;
  margin: 20px;
  box-shadow: 0 10px 20px greenyellow;
}

.Card span {
  font-size: 0.8rem;
  font-weight: 300;
}

.Card img {
  border-radius: 50%;
  box-shadow: 15px 15px 100px greenyellow;
}
